<!-- Navigation Bar -->
<header>
  <nav>
    <div class="logo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx09wWvXYdpfNIc-ZEuzzdsu4XI-POZmaoUKorS3jEDg&s">
    </div>
    <div class="items">
      
      <a routerLink="/admin" class="active">Dash Board</a>
  </div>

    <div class="other">
      <button class="tr" (click)="adminLogOut()">Log Out</button>
    </div>
  </nav>
</header>

<!-- cards -->
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <div class="box-content">
            <h3>Add Event</h3>
            <p>Create a new event.</p>
            <button class="btn" routerLink="/add-events">Add Event</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="box-content">
            <h3>Update Event</h3>
            <p>Modify an existing event.</p>
            <button class="btn" routerLink="/update-events">Update Event</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="box-content">
            <h3>Show Register Data</h3>
            <p>Retrieve Register Data.</p>
            <button class="btn" routerLink="/registered-details">Show Data</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-gap">
      <div class="col-md-4">
        <div class="box">
          <div class="box-content">
            <h3>Show Events</h3>
            <p>Retrieve Event Data.</p>
            <button class="btn" routerLink="/admin-events">Show Event</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="box-content">
            <h3>Delete Event</h3>
            <p>Remove an event.</p>
            <button class="btn" routerLink="/delete-event" >Delete Event</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>