<div id="n">
    <div style="background-color: black;">
        <header style="background-color: black;">
            <nav>
                <div class="logo">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx09wWvXYdpfNIc-ZEuzzdsu4XI-POZmaoUKorS3jEDg&s">
                </div>
                <div class="items">
                    <a routerLink="/" class="active">Home</a>
                    <a routerLink="/admin">Admin Login</a>
                    <a routerLink="/register">Register</a>
                </div>
          
                <div class="other">
                    <button routerLink="/login">Log in</button>
                </div>
            </nav>
        </header>
    </div>
</div>      


<body>
    <div class="centered-content">
        <div class="card">
            <h2>About Recharge</h2>
            <p>
                ABC Institutions is thrilled to present its most vibrant and energetic cultural fest - Recharge 2024, which raises energy, expectations and stakes for the students exponentially every year, providing them with the largest platform to express themselves and rediscover their hidden talents and passion.
            </p>
            <p>
                Recharge is ABC Engineering College's signature, annual, intercollegiate cultural fest. The previous installments of Recharge and the other fests held at REC were massive successes and featured celebrity guests across various fields of the entertainment industry. Showcasing music giants like Jonita Gandhi, Santhosh, Narayanan, Andrea Jeremiah, DJ Gowtham and bands like Masala Coffee, REC went a step farther and also brought in eminent sports persons like Kris Srikkanth, T. Natarajan, Dwayne Bravo and Chinna Thala Suresh Raina. Showbiz personalities like Gautham Vasudev Menon and Karthi Sivakumar also stole the limelight.
            </p>
            <p>
                Boasting over 100+ events, ranging from music and dance to sports and various other exciting genres, Recharge'24 is set to provide students from across the nation a platform to showcase their talents and express themselves. Recharge'24 will feature an exciting lineup of celebrities, covering electrifying music performances from musical guests and DJs, as well as iconic personalities with a sports background.
            </p>
            <p>
                What are you waiting for? Get set to recharge and revitalize! Secure your passes today and dive into the electric atmosphere that Recharge'24 promises to offer!
            </p>
        </div>
    </div>
    
</body>