
    <div class="add-event-form">
      <h2>Delete Event</h2>
        
          <div class="form-group">
            <label for="eventId">Event Id</label>
            <input type="number" id="eventId" name="eventId" [(ngModel)]="Id" [ngModelOptions]="{standalone:true}" required>
          <div class="form-group">
            <button type="submit" (click)="delete()" class="btn">delete Event</button>
            <button type="button" routerLink="/admin-dashboard" class="btn btn-cancel">Cancel</button>
          </div>
    
    </div>
