<header style="background-color: black;">
  <nav>
    <div class="logo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx09wWvXYdpfNIc-ZEuzzdsu4XI-POZmaoUKorS3jEDg&s">
    </div>
    <div class="items">
      <a routerLink="/" class="active">Home</a>
      <a routerLink="/admin">Admin Login</a>
      <a routerLink="/register">Register</a>
      <a routerLink="/view-pass">View Pass</a>
      
    </div>

    <div class="other">
      <button>Log in</button>
    </div>
  </nav>
</header>