/* navbar */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.logo img {
  width: 70px;
  height: 70px;
  border-radius: 41px;
  outline: 4px solid red;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;
}

.items {
  display: flex;
  align-items: center;
  gap: 30px;
}

.items a:link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.items a:hover {
  color: red;
}

.active {
  color: red !important;
}

button {
  font-size: 2rem;
  padding: 0.6rem 1rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #c31432, #892211);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  border: none;
}

button:hover {
  background: white;
  outline: 1px solid red;
  color: red;
  border: none;
}

/* media queries */
@media only screen and (max-width: 800px) {
  .items {
    display: none;
  }
  .row {
    grid-template-columns: 1fr;
  }
  .learn-more {
    align-self: start;
    margin: 1rem 0px;
  }
}